body {
  background-color:white;
  font-family: palatino;
  font-weight: bold;
  color: black;
}
.main-container{
    width:1090px;
    margin-left:auto;
    margin-right:auto;
    padding: 0px;
    border: 0px;
}
#big-title{
    width:1090px;
    font-size: 20pt;
    margin: 10px auto;
    float:none;
}

#sub-title{
    width:1090px;
    font-size: 15pt;
    margin: 10px auto;
    float:none;
    color:dimgray;
}

h2 {
    font-size: 18pt;
    margin-bottom: 15px;
}
.map-tile{
    width:700px;
    color:white;
    margin:10px;
    padding:10px;
    overflow:hidden;
    float:left;
}
.colormap-title{
    height:60px;
    width:300px;
    float:left;
}
.colormap-title-rbc{
    height:45px;
    width:300px;
    float:left;
}
.numbers{
    font-size:16pt;
    padding:2pt;
    height:45px;
    width:380px;
    float:left;
}

.black {
    background-color:black;
}

.top-right {
    position:relative;
    top: -210px;
    right: 25px;
}
.hist-tile {
    width:350px;
    height: 250px;
    padding:0px;
    margin:0px;
    border:0px;
    font-size: 16pt;
    float:left
}
